.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header, nav {
    background-color: #f8b400;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    flex-grow: 1;
  }
  
  .grid-item {
    background-color: #2196F3;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
  }
  
  